@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="z3998:frontispiece"] img{
	max-height: 100vh;
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}

figure.full-page{
	margin: 0;
	max-height: 100%;
	break-before: page;
	break-after: page;
	break-inside: avoid;
	text-align: center;
}

footer{
	text-align: right;
	margin-top: 1em;
}

footer p + p{
	font-style: italic;
	margin-top: 1em;
}

section[epub|type~="dedication"]{
	text-align: center;
}

[epub|type~="z3998:signature"],
section[epub|type~="dedication"] p{
	font-variant: small-caps;
}

section[epub|type~="dedication"] b{
	font-size: 1.2em;
}

section[epub|type~="dedication"] p + p{
	font-variant: normal;
	margin-top: 1em;
	text-indent: 0;
}

section[epub|type~="dedication"] > *{
	display: inline-block;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
}

@supports(display: flex){
	section[epub|type~="dedication"]{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(98vh - 3em);
		padding-top: 3em;
	}

	section[epub|type~="dedication"] > *{
		margin: 0;
	}
}

[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}

/* All epigraphs */
[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
	-epub-hyphens: none;
}
/* End all epigraphs */

/* Full-page epigraphs */
section[epub|type~="epigraph"]{
	text-align: center;
}

section[epub|type~="epigraph"] > *{
	display: inline-block;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
	text-align: initial;
}

@supports(display: flex){
	section[epub|type~="epigraph"]{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	section[epub|type~="epigraph"] > *{
		margin: 0;
	}
}
/* End full-page epigraphs */
